.container{
    width:1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    margin-right:-15px;
    margin-left:-15px;
}

.row:before,
.row:after{
  display: table;
  content:"";
   
}
.row:after{
  clear:both;
}

.col-sm-12{
    width:100%;
}

.col-sm-8 {
    width:66.66666667%;
}

.col-sm-6 {
     width:50%
}

 .col-sm-4 {
     width:33.33333333%
 }

 .col-sm-3 {
    width:25%
 }

 .col-sm-2 {
    width:16.66666667%
 }

.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-12{

    float:left;
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
}



.img-responsive{
    max-width: 100%;
    height:auto;
}



.services-heading{
    
    text-align: center;
}

.list-inline{
    padding-left: 0;
    list-style: none;
  
}

.list-inline >li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.text-center{
    text-align: center;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.intro-text{
    padding-top: 210px;
    padding-bottom: 160px;
}

#services{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-item{
    margin-bottom: 50px;
}

.timeline{
    list-style: none;
    padding: 0;
}

.team-member{
    margin-bottom: 50px;
}

footer{
    padding-top: 20px;
    padding-bottom: 30px;
}



.img-circle{
    border-radius: 50%;
    
}

.timeline>li{
    margin-bottom: 90px;
}

.timeline>li:after{
    clear: both;
}
.timeline>li:before, 
.timeline>li:after{
    content: "";
    display: table;
}
.timeline-panel{
    padding-left: 100px;
    width: 40%;
    float: left;
    text-align: right;
}
.timeline-image{
    width: 170px;
    height: 170px;
    position: absolute;
    left: 50%;
    z-index: 100;
    border-radius: 100%;
    margin-left: -85px;
    text-align: center;
    border: 7px solid #efefef;
    background-color: #efd136;
}

.timeline>li:last-child{
    margin-bottom: 0;
}


.timeline-inverted> .timeline-panel{
    padding-right: 100px;
    padding-left: 0;
    float: right;
    text-align: left;
}
.timeline:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    content: "";
    width:2px;
    background-color: #efefef;
    
}

.timeline{
    list-style: none;
    padding: 0;
    position: relative
}

    
section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 1000;
}

.portfolio-link{
    position: relative;
    display: block;
    
}

.portfolio-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: yellow;
    opacity: 0;
}

.portfolio-hover:hover{
    opacity: 1;
}

.portfolio-caption{
    text-align: center;
}

/*
white #ffffff
black #212121
gray #909090
light gray #f7f7f7
yellow #fed034
darker yellow #dda0c
*/

body{
    background-color: #ffffff;
    color:#909090;
}
 h2{
    color:#212121;
 }
h3{
    color:#909090;
}

h4{
    color:#212121;
}

a{
    color: #ffffff;
}

nav{
    background-color: #212121;
}

header{
    background-color: #909090;
}
.logo{
    color: #fed034;
}
    
.intro-lead-in{
    color: #ffffff;
}

.intro-lead-in{
    color: #ffffff;
}

.btn{
    display: inline;
    background-color: #fed034;
    color: ffffff;
    text-transform: uppercase;
    padding:25px;
    text-align: center;
    border-radius: 5px;
}

    


    